html,
body {
  font-family: "Nunito", sans-serif;
  background: #2c3e50;
  height: 100%;
}
.heading {
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #04d5ce;
  box-shadow: 0px 9px 36px 5px rgba(53, 95, 154, 1);
}
.heading1 {
  width: auto;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #04d5ce;
  box-shadow: 0px 9px 36px 5px rgba(53, 95, 154, 1);
}
.title {
  text-align: center;
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
.title1 {
  text-align: center;
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: -30%;
}
.button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: 240%;
  margin-left: 472%;
}
button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.menu {
  position: absolute;
  width: 570px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
.menu1 {
  position: absolute;
  width: 570px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  top: 25px;
}
a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 150px;
}
a:nth-child(2) {
  width: 90px;
}
a:nth-child(3) {
  width: 130px;
}
a:nth-child(4) {
  width: 100px;
}
a:nth-child(5) {
  width: 100px;
}
.start-home,
a:nth-child(1):hover ~ .animation {
  width: 150px;
  left: 0;
  background-color: #e73c4d;
}
.start-about,
a:nth-child(2):hover ~ .animation {
  width: 90px;
  left: 150px;
  background-color: #e73c9a;
}
.start-blog,
a:nth-child(3):hover ~ .animation {
  width: 130px;
  left: 240px;
  background-color: #db34d0;
}
.start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 370px;
  background-color: #9659b6;
}
.start-contact,
a:nth-child(5):hover ~ .animation {
  width: 100px;
  left: 470px;
  background-color: #5622e6;
}
.tiktok-embed {
  margin: 0 auto;
  width: auto;
  height: auto;
  bottom: -43%;
  border-radius: 10px;
}
.logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logodiscord {
  margin: 0 auto;
  width: 200px;
  position: relative;
  left: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  bottom: -3px;
}
.brak {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  text-align: center;
}
